body {
	margin: 0px;
	background-color: #efefef;
	font-family: 'Avenir', sans-serif;
	font-size: 1rem;
	color: #333333;
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  body {font-size:1rem;} /*1rem = 16px*/
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  body {font-size:1.5rem;} /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  body {font-size:1.5rem;} /*1rem = 16px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  body {font-size:2rem;} /*1rem = 16px*/    
}

h1, h2, h3, h4, h5, h6, .heading {
	font-family: 'Montserrat', sans-serif;
}

/* Common Styles */

.flexbox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bg-light {
	background-color: #efefef;
}

.center-content {
	text-align: center;
}

.hide {
	display: none !important;
}

/* Nav Bar */

.navbar-brand-name {
	display: inline;
	font-weight: bold;
	vertical-align: bottom;
	font-size: 1.5rem;
}

.navbar-brand {
	color: #EFEFEF;
}

/* Connect Modal */

#connect-modal, #tutorial-modal {
	background: #efefef; 
	padding: 80px 40px 40px 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#connect-modal-heading, #tutorial-modal-heading {
	font-size: 3em;	
}

#connect-modal-description, #tutorial-modal-description {
	font-size: 1em;	
	margin-top: 20px;
}

#connect-modal-qrcode {
	margin-top: 40px;
	margin-bottom: 10px;
}

#connect-modal-code {
	font-family: 'Roboto Mono', monospace;
	font-size: 3em;
}

/* Tutorial Modal */
#tutorial-modal-content{
	margin-top: 3%;
	font-size:1em;
}

#tutorial-modal-carousel{
	display: inline-flex;
}

#tutorial-modal-carousel{
  width:640px;
  height:360px;
}



/* Run Modal */

#run-modal {
	text-align: center;
}

#run-modal-title {
	margin-top: 40px;
	font-size: 2em;	
}

#run-modal-subtitle {
	font-size: 1.5em;	
}

#timer-countdown {
	color: darkslategray;
}

/* Timer */
#timer-countdown.times-up {
	color: red;
}

#timer-time {
	font-size: 9em;
}

.timer-time-unit {
	font-size: 0.4em;
}

#timer-event-info-activity {
	font-size: 1em;
	font-weight: bold;
}
#timer-event-info-title {
	font-size: 3em;
}
#timer-event-info-description {
	font-size: 1em;
}

#timer-event-progress-bar {
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 40px;
  background-color: lightgray;
}

#timer-event-progress-bar div {
  height: 100%;
  width: 100%;
  text-align: right;
  padding: 0 10px;
  line-height: 40px; /* same as #timer-progress-bar height if we want text middle aligned */
  font-size: 0.6em;
  color: white;
  background-color: darkslategray;
  box-sizing: border-box;
}

.alert-notify-info {
	background-color: #efefef;
}